// Variables section
$headerBg: #f7ebe5;
$heroBg: #f7f7f7;

// Variables components
$logoBg: #b3d9f3;
$buttonBg: #b3d9f3;

// Accent
$accentColor: #e7426a;
$borderAccent: 1px solid #e7426a;

$hero-bgc-blue: rgba(152, 224, 194, 0.38);
$hero-bgc-pink: rgba(255, 252, 189, 0.45);
$header-color: rgba(0, 0, 0, 0.79);
$nav-color: #2b1414;
$primary-text-color: #292929;
